# LaTeX compilation intermediates
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.bbl
*.blg
*.bcf
*.run.xml
*.idx
*.ilg
*.ind
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.xdv
*.dvi
*.nav
*.snm
*.vrb
*.loa
*.lol
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.spl
*.bak

# Generated resume PDFs
/resume*.pdf
